/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-gray: #666666;
  --vt-c-lightgray: #999999;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

@font-face {
  font-family: 'KaiseiDecol';
  src: url('@/assets/fonts/KaiseiDecol-Regular.ttf') format('truetype');
}

* {
  margin: 0;
}

body {
  font-family: "KaiseiDecol";
  color: var(--vt-c-black);
  scroll-behavior: smooth;
  margin: 0 1.5rem;
}

@media screen and (min-width: 420px) {
  body {
    margin: 0 4rem;
  }  
}

a {
  text-decoration: none;
  color: var(--vt-c-gray);
}

h2 {
  font-size: 0.8rem;
  letter-spacing: 0.8rem;
  position: relative;
  margin-bottom: 1rem;
}

p {
  color: var(--vt-c-lightgray);
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  max-width: 600px;
  line-height: 1.3rem;
}

h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  width: 30px;
  height: 2px;
  background-color: var(--vt-c-black);
}